{% extends "index.html" %}
{% block phonebook %}

<input placeholder="Поиск" id="phonebookSearch" type="text" class="validate">
<table id="phonebookTable">
  <thead>
    <tr>
      {% for key in phonebook_header %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in phonebook_content %}
      {% for key, data in row.items %}
        {% if key == department_key %}
        <tr>
          <th class="department" id="department{{ forloop.counter }}" 
              colspan="{{ phonebook_header|length }}">{{ data }}</th>
        </tr>
        {% else %}
          {% for employee in data %}
            <tr>
            {% for emp_key, emp_data in employee.items %}
              {% if emp_key == employee_key or emp_key == position_key %}
                <td>{{ emp_data }}</td>
              {% else %}
                <td>
                {% for contact in emp_data %}
                  {{ contact }}
                  {% if forloop.counter != contact|length %}
                  <br>
                  {% endif %}
                {% endfor %}
                </td>
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
