{% extends "index.html" %}
{% block phonebook %}

<input placeholder="Поиск" id="phonebookSearch" type="text" class="validate">
<table id="phonebookTable">
  <thead>
    <tr>
      {% for key in phonebook.phonebook_header %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in phonebook.phonebook_content %}
    <tr>
      {% for key, data in row.items %}
        <td>
          {% if key == 'Сотрудник' or key == 'Отдел' %}
            {{ data }}
          {% else %}
            {% for contact in data %}
              {{ contact }}
              {% if forloop.counter != contact|length %}
              <br>
              {% endif %}
            {% endfor %}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
