.main-container {
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 86px auto;
  grid-template-areas: 
    "h h"
    "m c";
}

.header {
  grid-area: h;
  background-color: #eceff1;
  padding: 20px 40px;
  font-size: 1.2rem;
}

.menu {
  grid-area: m;
  padding: 20px 40px;
}

.content {
  grid-area: c;
  padding: 20px 40px;
}

ul
{
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  display: block;
}

.menu li i {
  margin-right: 10px;
  position: relative;
}

.menu li a {
  display: inline-flex;
  font-size: 18px;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, h1, h2, h3{
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3 {
  display: inline;
  position: relative;
}

#search {
  margin-top: 20px;
}

.menu-components {
  margin: 0px 0px 0px 55px;
}

.menu-components li {
  margin: 10px 0;
}

.menu-components li a {
  font-size: 14px;
}

.department {
  text-align: center;
  padding: 5px;
  color: #333;
  font-weight: normal;
}